.container {
  width: 40%;
  margin: auto;
}

.container .header {
  margin-top: 100px;
}

h2 {
  margin-left: 148px;
}

.profile-name p {
  margin-left: 148px;
  margin-top: 30px;
}

.photo-profile {
  width: 100%;
  height: 100%;
}

h4 {
  color: #136223;
}

.col-6 h4 {
  margin-left: 148px;
}

li {
  font-size: 12px;
}

.footer i {
  font-size: 40px;
  margin-left: 20px;
}

.content .university p {
  font-weight: bold;
  margin-top: 10px;
}

.content .row .col-6 p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 148px;
}

.hero h3 {
    margin-left: 148px;
    font-weight: bold;
    color: #136223;
    font-size: 18px;
}

.hero img {
    margin-left: 148px;
    margin-top: 20px;
    border-radius: 20px;
    width: 246px;
    height: 180px;
}
.hero h2 {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: #21243D;
    margin-top: 20px;
}

.hero button {
    border-radius: 20px;
    margin-left: 10px;
    font-weight: bold;
    width: 100px;
}

.hero p {
    margin-left: 10px;
    color:#21243D;
    margin-top: 10px;
}

.hero h6 {
    margin-left: -150px;
    color: #8695A4;
    margin-top: 5px;
}
