.container {
  width: 70% !important;
  margin: auto;

}

.container .header {
  margin-top: 100px;
  margin-bottom: 100px;
}

h2 {
  margin-left: -20px;
}

.profile-name p {
  margin-left: -20px;
  margin-top: 30px;
}

.photo-profile {
  width: 243px;
  height: 200px;
}

h4 {
  color: #136223;
}

.col-6 h4 {
  margin-left: -20px;
}

li {
  font-size: 12px;
}

.footer i {
  font-size: 40px;
  margin-left: 20px;
}

.content .university p {
  font-weight: bold;
  margin-top: 10px;
}

.content .row .col-6 p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: -20px;
}

.hero h3 {
  margin-left: -20px;
  font-weight: bold;
  color: #136223;
  font-size: 18px;
}

.hero img {
  margin-left: -20px;
  margin-top: 20px;
  border-radius: 20px;
  width: 246px;
  height: 180px;
}
.hero h2 {
  font-size: 30px;
  margin-left: -100px !important;
  font-weight: bold;
  color: #21243d;
  margin-top: 20px;
}

.hero button {
  border-radius: 20px;
  margin-left: -100px !important;
  font-weight: bold;
  width: 100px;
}

.hero p {
  margin-left: -100px !important;

  color: #21243d;
  margin-top: 10px;
}

.hero h6 {
  margin-left: -200px!important;
  color: #8695a4;
  margin-top: 5px;
}
